* { box-sizing: border-box }
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0; /* tek út sjálgefið 10px margin */
    grid-gap: 0;
    background-image: url('myndir/Overwatchbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
}
.container {
    max-width: 60em;
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
h1 {
    color: #4B535D;
}
.topnav ul{
    background: #f2f1ed; 
    }
    .topnav input {
    display: none;
    }
    
    .topmenu {
    display: block;
    /* position: fixed; */
    padding: 0;
    margin: 0;
    list-style: none; 
    
    }
    .topmenu li {
    border: 0;
    padding: 0;
    margin:0;
    }
    .topmenu li {
    border: 0;
    padding: 0;
    }
    .topmenu a {
    display: block;     /* ath! */
    color: #4b535d;
    text-decoration: none;
    text-align: center;
    padding: .4em 1em; 
    }
    .topmenu a:hover,
    .topmenu a:active,
    .virkur {
    color: #ff8900 !important;
    border-bottom: solid 3px #ff8900;
    }