* { box-sizing: border-box }
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0; /* tek út sjálgefið 10px margin */
    grid-gap: 0;
    background-image: url('myndir/Overwatchbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font: 400 1em/1.5 sans-serif; /* samsett skipun: weight/height, size, family */
}
.container {
    max-width: 60em;
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
h1 {
    color: #4B535D;
}
.topnav {
    grid-area: topnav;
}
.logo {
    grid-area: logo;
}
.container {
    grid-area: container;
}
.tank {
    grid-area: tank;
}
.damage {
    grid-area: damage;
}
.support {
    grid-area: support;
}
.rolesTitle {
    grid-area: rolesTitle;
}
.copy {
    color: black;
    text-align: center;
}
.topnav ul{
    background: #f2f1ed; 
    }
    .topnav input {
    display: none;
    }
    
    .topmenu {
    display: block;
    /* position: fixed; */
    padding: 0;
    margin: 0;
    list-style: none; 
    
    }
    .topmenu li {
    border: 0;
    padding: 0;
    margin:0;
    }
    .topmenu li {
    border: 0;
    padding: 0;
    }
    .topmenu a {
    display: block;     /* ath! */
    color: #4b535d;
    text-decoration: none;
    text-align: center;
    padding: .4em 1em;
    padding-bottom: 3px; 
    }
    .topmenu a:hover,
    .topmenu a:active,
    .virkur {
    color: #ff8900 !important;
    border-bottom: solid 3px #ff8900;
    padding-bottom: 0;
    }
    .roles {
        display: grid;
        grid-template-areas: 
        "tank damage support";
        grid-gap: 2em;
        text-align: center;
        justify-content: space-evenly;
        align-self: auto;
    }
    @media screen and (min-width: 48em) {
        body {
            height: 100%;
            display: grid;
            grid-template-areas: 
            "topnav"
            "logo"
            "container";
        }
        .topmenu {
            display: flex;
            max-width: 60em;
            justify-content: space-around;
            margin: 2em auto;
        }
        .logo {
            padding: 2em 0;
            max-width: 60em;
            margin: 1em auto .5em;
        }
    }